*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	color: black;
}








/*Body*/
body{
	background-color: black;
}
/**/





/*Contenedor de la cabecera*/
.container-cabecera{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between ;
	position:absolute;
	z-index:100;
	width: 100%;
	height:70px;
}
.container-cabecera-sesion{
	position:relative;

}
.cabecera-usuario-container{
	position: absolute;
	right:15%;
	width: 25%;
	height: 100%;
	display: flex;
}


.cabecera-inicio-container{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
}
.cabecera-inicio-container a h3{
	color: gray;
	text-decoration: none;

}



/*Cabecera catalogo*/

.cabecera{

	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 70px;
}

.cabecera-comp{
	height: 70px;
	position: relative;
	width: 50%;
}

.cabecera-comp h2{
	font-size: 20px;
	opacity: 1;
	animation: logo 3s;
	color: #1CE783;
}



.comp-logo{
	display: flex;
	justify-content: flex-start;
	padding-left: 30px;
	align-items: center;
}
.comp-usser{
	padding-left: 200px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.comp-usser:hover > ul{
	animation-duration:1s;
	animation-fill-mode: forwards; 
	animation-name: difuminado;
}



@keyframes difuminado {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.comp-usser h3{
	color: white;
}


.comp-usser ul{
	margin-top: 10px;
	background-color: rgba(0, 0, 0, 0.801);
	opacity:0;
	position: absolute;
	height: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 20px;
	list-style: none;
}

.comp-usser li{
	display:flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50%;
}

.buscar{
	margin-right: 150px;
}


.comp-usser li a{
	font-size: 12px;
	color: white;
	cursor: pointer;
}


.cabecera img{
	margin: 0 40px;
	width: 40px;
	height: 40px;
	object-fit: contain;
}





/**/




.container-idiomas{
	position:relative;
	display: flex;
	align-items: center;
	justify-content: center;

	margin-left: auto;
	height: 100%;
	width: 15%;
}
.container-idiomas img{
	width: 35px;
	height: 35px;
	object-fit: contain;
}

.container-idiomas-options{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	height: 00px;
	background-color: #0B0C0F;
	transition: height 1s;
	opacity: 0;
}

.container-idiomas-options a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50%;

}

.container-idiomas:hover>.container-idiomas-options{
	height: 100%;
	opacity: 1;
}


.cabecera-logo-container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width:25%;
	height: 100%;
}
.cabecera-logo-container h2{
	font-size: 20px;
	opacity: 1;
	animation: logo 3s;
	color: #1CE783;
}
/*Animacion logo*/
@keyframes logo {
	0%{
		opacity: .2;
	}

	100%{
		opacity: 1;
	}
}
/**/









/*Menu*/
nav{
	position: relative;
	height: 50px ;
	width:100%;
	transition: background-color .5s;
}
nav:hover{
	animation: nav 1s;
	background-color: #c7c7c3;
}
.navbar{
	height: 100%;
	width: 90%;
	display: flex;
	justify-content:space-evenly;
	list-style: none;
}
.navbar-component{
	height: 100%;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;

}
/*Opciones menu*/
.navbar-component a{
	text-decoration: none;
	font-weight: 700;
	font-size: 20px;
	color: black;
	
	transition: font-size 0.5s;
}


/*Hover*/
.navbar-component a:hover{
	font-size: 25px;
}
/**/




/*Portada*/
.container-contenido{
	display: flex;
	justify-content: center;
	width:100%;
	height:600px;
	background-color: white;
}
.container-img-principal{
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}
img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.blured-img{
	position: absolute;
	background-color: black;
	width:100%;
	opacity: .2;
	height: 100%;
	animation: efecto 3s;
}
/*Animacion portada*/
@keyframes efecto {
	0%{
		opacity: 1;
	}
	100%{
		opacity: .2;
	}
}
.paper-img{
	animation: paper 3s;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: absolute;
	width:100%;
	height: 100%;
}
.paper-img p{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	color: white;
	font-size: 40px;
	font-weight: 500;
	height:65%;
}


.cabecera-registro-container{
	width:100%;
	height:35%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	
}
.cabecera-registro-container a h3{
	width:300px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background-color: #1CE783;
	color: black;
	text-decoration: none;
	font-size: 15px;
	font-weight: 300;
	
}


/**/
/*Animacion de texto en portada*/
@keyframes paper {
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}
/**/




/*temp*/

.temporal{


	background: linear-gradient(
		to bottom,
		#289f649e, 
		black
	  );

	width: 100%;
	height: 150px;


}

.studiosbanner{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;

}

.studiosbanner img{
	width: 100px;
	height: 100px;
	object-fit: contain;
	
}


/**/












/*visual*/

.visual{
	margin-top: 100px;
	width: 100%;
	height:600px;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

}

.casinocontainer{
	width: 50%;
	height: 100%;
}

.casinocontainer img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.tvcontainer{
	position: relative;
	width:50%;
	height: 100%;
}

.tvcontainer img{
	margin-right: 15px;
	position: absolute;
	width:650px;
	height: 650px;
	object-fit: contain;
	z-index: 100;
}
.tvvideo{
	margin-left: 25px;
	margin-top: 7px;
	position: absolute;
	width: 600px;
	height: 600px;
	object-fit: contain;
	z-index: 100;
}




/**/



/*Contenedor de anuncios*/
.container-anuncios{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	width: 100%;
	height:500px;

}
.anuncio{
	position: relative;
	width: 45%;
	display: flex;
	justify-content: space-evenly;
}
.anuncio video{
	object-fit: cover;
	height:250px;
	width: 100%;
}
/**/



/*recomendacion*/


.recomendation{
	position: relative;
	display: flex;
	width: 100%;
	height: 450px;
}

.recomendation-info{
	color: white;
	position: absolute;
	z-index: 100;
	width: 50%;
	height: 100%;
	margin:50px;

}

.recomendation-sipnosis{
	color: rgba(205, 203, 203, 0.832);
	padding:0 15%;
	font-size: 17px;
	letter-spacing:.5px;

}

.recomendation-year{
	color: white;
	font-weight: 400;
	font-size: 15px;
	margin-top: 60px;
	margin-left: 30%;

}

.recomendation-title{
	color: white;
	padding-left:15%;
	margin: 15px 0;
	font-size: 35px;
}

.recomendation-banner{

	margin-left: auto;
	border-radius: 20px 0 0 20px;
	position: relative;
	min-width:60% ;
	min-height: 100%;
	background-size: cover; /* Escalar la imagen para que cubra todo el contenedor */
	background-position: center;

}





.recomendation-bannervisual{
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to left, #1ce78154, rgba(0, 0, 0, 0.893)); /* 
	Gradiente lineal transparente a blanco */
}

.recomendation-bannervisual:hover{
	cursor: pointer;
}


/**/


/*catalogo*/



.catalogo{
	display: flex;
	width: 100%;
	height: 200px;
	padding-left: 30px;
	padding: 3px 0 3px 30px;
	overflow-x: scroll;
	margin-top: 15px;


}


.peli-catalogo {
	cursor: pointer;
	min-width: 300px; /* Ancho deseado del contenedor */
	min-height: 150px; /* Altura deseada del contenedor */
	 /* Ruta de tu imagen */
	background-size: cover; /* Escalar la imagen para que cubra todo el contenedor */
	background-position: center; /* Centrar la imagen */
	margin-left: 3px;
  }

  .peli-catalogo:hover {

	border: 2px solid  #1CE783 ;

	animation-duration:.5s;
	animation-fill-mode: forwards; 
	animation-name: bordePeli;

  }




@keyframes bordePeli {
	0%{
		border-color:#1ce78112 ;
	}
	100%{
		border-color:#1CE783 ;
	}
}



  .titulocat{
	padding-left: 30px;
	margin-top: 30px;
	font-size:30px;
	color: white;

  }



/**/







/*Contenedor general de la pelicula FINAL*/
.container-pelicula{
	display: flex;
	position: relative;
	width: 100%;
	height: 500px;
}
.container-pelicula-info{
	position: absolute;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	z-index:1;
	width: 50%;
	max-width:550px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.707);
}


.logo-film{
	width: 150px;
	height: 150px;
	object-fit: contain;
}
.desc-film{
	font-size: 20px;
	width: 90%;
	color: white;
}
.buy-film{
	display: none;
}
/*Dentro del contenedor general tenemos contenedor del video*/
.container-video-pelicula{
	width: 100%;
	height: 100%;
}
.container-video-pelicula video{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: black;
	object-fit: contain;
}


/*comprados o no*/

#comprado{
	display: none;
}

#nocomprado{
	display: block;
}

/**/




/*Reparto*/
.container-reparto{
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
	width: 100%;
	height: 300px;

}
.reparto{
	position: relative;
	width: 25%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.reparto-foto{
	position: relative;
	border-radius: 10px;
	width:100%;
	max-width:250px;
	max-height:250px;
	object-fit: contain;
}
.reparto-nombre-actor{
	width: 100%;
	text-align: center;
}
/**/



/*inicio de sesión*/

.login{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: black;

}

.loginback{
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: .3;
	object-fit: cover;
}

.login-form{
	padding: 50px;
	z-index:100;
	width: 500px;
	height: 80%;
	background-color: rgba(0, 0, 0, 0.493);

}

.login-container{
	margin-top: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	width:100%;
	height: 80%;

}

.login-form h2{
	font-size: 35px;
	color: white;
}

.login-form input{
	padding: 15px;
	border-radius: 2px;
	margin-top: 25px;
	border: none;
	width: 70%;
	height: 47px;
}

.login-form input::placeholder{
	font-size:15px;
}
.login-form input:focus{
	border: none;
}

.boton-login{
	cursor: pointer;
	border: none;
	border-radius: 2px;
	margin-top: 40px;
	width: 70%;
	height: 40px;
	background-color:#1CE783 ;
	font-size: 20px;
}


/**/






/*Footer*/
footer{
	margin-top: 150px;
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	height: 400px;
	width: 100%;
	background-color: #E8EAED;

}

.tecnologiasUsadas{
	margin-bottom: 20px;
	align-self: flex-end;
	border-top: 1px solid black;
	width: 90%;
	height: 100px;
}

.container-imgstec{
	width:100%;
	height: 100%;
	display: flex;
	align-items: center;
}
.container-imgstec img{
	margin: 10px;
	width:35px;
	height:35px;
	object-fit: contain;

}

.infofooter{
	margin-top: 60px;
	width: 90%;
	height: 200px;

}
.infofooter a{
	margin: 10px;
	display: block;
}



/*creador pelis*/


.creadorpelis{
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.creadorpelistit{
	padding-left: 20px;
	font-size: 20px;
	margin: 5px;
	width:600px;
	height: 60px !important;
}


.creadorpelisimg{
	padding: 5px;
	display: flex;

	justify-content: space-between;
	width:600px;
	min-height: 200px;
}

.creadorpelisportada{
	min-width:35% ;
	min-height: 100%;
	background-size: cover; 
	background-position: center;
}

.creadorpelisbanner{
	min-width:64% ;
	min-height: 100%;
	background-size: cover;
	background-position: center;
}

.creadorpelisinputs{
	padding: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width:600px;
	height:100px;


}
.creadorpelis input{
	height: 20px;

}

.creadorpelisinputportada{

	width: 35%;

}

.creadorpelisinputbanner{
	width: 64%;
}


.creadorpelisvid{
	width: 600px;
	height:450;
}
.creadorpelisvidinput{
	width: 85%;
	margin-bottom: 20px;
	padding: 5px;

}
.creadorpelisvidbutton{
	width: 14%;
}


.creadorpelisSipnosis{
	width: 600px;
	height:250px;
	resize: none;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 15px;
}

.elenco{
	width:600px;
	padding: 20px;
	display: flex;
	position: relative;
}

.actorprincipal{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 25%;
	height:200px;
}
.actorprincipalimg{
	width:90%;
	height:100px;
	object-fit: contain;
}

.actorprincipalinputnombre{
	margin-top: 2px;
	width: 90%;

}
.actorprincipalinputimg{
	margin-top: 2px;
	width: 90%;
	
}

.actorprincipalbutton{
	width: 25%;
	position: absolute;
	bottom: 0;
	z-index: 100;
	left: 50%;
}

.subirpeli{
	margin-top: 100px;
	width: 600px;
	height: 150px;
	display: flex;
	justify-content: center;
}

.subirpeli input{
	width: 50%;
}


/**/

/*Responsive general*/
@media (max-width:950px){


	.anuncio img{
		object-fit: contain;
		height:300px;
		width: 100%;
	}

	.paper-img p{
		font-size: 20px;
	}


	.acceso-catalogo p{
		font-size: 25px;
	}

	.catalogo img{
		max-width: 150px;
		min-height:100px;
		max-height:150px;
	}

	/*pelicula reproductor*/



	.container-pelicula-info{
		min-width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.649);

	}

	.buy-film{
		display: inline;
		width: 100px;
		height: 50px;
	}

.container-pelicula:hover>	.container-pelicula-info
	{

		z-index: -100;
	}


	.reparto-foto{
		max-width:100px;
		max-height:100px;
	}

	.reparto-nombre-actor{

		align-self: flex-start;
	}

		/*comprado no comprado*/

		#nocomprado{
			display: block;
		}

	/**/

	*{
		font-size: 10px;
	}

	h2{
		font-size: 15px;
	}
	.container-idiomas-options{
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
		height: 100%;
		background-color: #F4EAD7;
		transition: height 1s;
		opacity: 1;
	}



	
}